#include<resource.h>
#define IDD_Caption 129

#define IDCANCEL 2
#define IDOK 1
#define IDC_CaptionA 1000
#define IDC_CaptionB 1001
#define IDC_STATIC -1

IDD_Caption DIALOG DISCARDABLE 100,100,200,80
STYLE DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "文本对比"
FONT 10,"System"
BEGIN
   
    LTEXT "the path of FILE A",IDC_STATIC,11,11,105,9
    EDITTEXT IDC_CaptionA,12,21,146,12,ES_AUTOHSCROLL

    LTEXT "the path of FILE B",IDC_STATIC,11,31,105,9
    EDITTEXT IDC_CaptionB,12,41,146,12,ES_AUTOHSCROLL

    DEFPUSHBUTTON "BEGIN",IDOK,50,60,37,13,WS_GROUP
    DEFPUSHBUTTON "cancel",IDCANCEL,106,60,37,13,WS_GROUP
END
